.speedBlockActive {
    width: 24.7%;
    height: 370px;
    border: 1px solid rgba(173, 173, 173, 0.466);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 2px;
}

.speedBlock {
    width: 24.7%;
    height: 350px;
    padding: 2px;

}

.priceBlock {
    display: flex;
    height: 46%;
    color: aliceblue;
    justify-content: space-evenly;
    border: 1px solid white;
}

.price {
    font-size: 50px;
    font-weight: 800;
    height: 40%;
    align-self: center;
}

.textUp {
    font-size: 20px;
    padding-top: 45px;
}

.textDown {
    align-self: flex-end;
    font-size: 20px;
    padding-bottom: 48px;
}

.speed {
    height: 18%;
    background-color: rgba(211, 211, 211);
    padding: 20px 80px 0;
    border: 1px solid white;
}

.info {
    height: 18%;
    padding: 10px 20px 0;
    background-color: rgba(169, 169, 169);
}

.title {
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    border: 1px solid white;
}